@import '~bootstrap/scss/bootstrap';
$light_grey: rgba(225,225,225, .3);
$black: rgba(0,0,0,1);
$blue: rgba(0,0,255,1);

#banner {
    text-align: center;
    margin: 30px;
}
#frame {
    height: 515px;
    width: 515px;
    margin: 0 auto;
    border: 1px solid $black;
}
.cell {
    cursor: pointer;
    float: left;
    background: $black;
    border: 1px solid $light_grey;
    width: 8px;
    height: 8px;
    &:hover {
        border: 1px solid $blue;
    }
}
.dead {
    background: white;
}

#interface {
    margin: 3px auto;
    width: 35%;
}
#start, #reset{
    cursor: pointer;
    margin-left: 5px;
}

#reset{
    cursor: pointer;
    margin-right: 5px;
}



/*TOOLTIP*/
#tooltip {
    position: relative;
    display: inline-block;
  }

  #tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    padding-bottom: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 140%;
  }
  
  #tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  #tooltip:hover #tooltiptext {
    visibility: visible;
  }