@import '~bootstrap/scss/bootstrap';
$light_grey: rgba(225,225,225, .3);
$cadet: rgb(76, 146, 148);
$blue: rgba(0,0,255,1);

#banner {
    text-align: center;
    margin: 30px;
}
#frame {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    // height: 514; 
    // width: 514;
    height: 514px;
    width: 1026px;
    margin: 0 auto;
    border: 1px solid black;
}
.cell {
    cursor: pointer;
    background: $cadet;
    border: 1px solid $light_grey;
    width: 8px;
    height: 8px;
    &:hover {
        border: 1px solid $blue;
    }
}
.dead {
    background: white;
}

#interface {
    margin: 3px auto;
    // sm grid
    // width: 35%;
    // lg grid
    width: 70%;
}
#start, #reset, #rewind, #fastforward{
    cursor: pointer;
    margin-left: 5px;
}
#rewind {
    margin-right: 2px;
}

#reset{
    margin-right: 5px;
}
#presets {
    &:focus {
        outline: none
    }
}



/*TOOLTIP*/
#tooltip {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
  }
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  #tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -19.5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  #tooltip:hover #tooltiptext {
    visibility: visible;
  }