@import '~bootstrap/scss/bootstrap';
$light_grey: rgba(225,225,225, .3);
$cadet: rgb(76, 146, 148);
$blue: rgba(0,0,255,1);

/*HEADER*/
#banner {
    text-align: center;
    margin: 30px;
}
/*GAME CONTAINERS*/
#super {
    width: 516px; 
    margin: 0 auto;
}
#frame {
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
    height: 514px;
    width: 514px;
    border: 1px solid black;
}
/*CELLS*/
.cell {
    cursor: pointer;
    background: $cadet;
    border: 1px solid $light_grey;
    width: 8px;
    height: 8px;
    &:hover {
        border: 1px solid $blue;
    }
}
.dead {
    background: white;
}

/*INTERFACE*/
#interface {
    position: absolute;
    left: 480px; // to 220
    height: 34px;
    width: 35%;
}
#reset, #presets, #fastforward, #landscape, #start, #tooltip {
    // margin-top: 4px;
}
#rewind, #fastforward, #landscape, #start {
    cursor: pointer;
}
#reset, #presets {
    cursor: pointer;
    margin-left: 12px;
}
#start {
    margin-right: 4px;
    margin-left: 6.5px;
}
#presets {
    &:focus {
        outline: none
    }
}
#landscape {
    margin-left: 5px;
    font-size: 25px;
}

/*TOOLTIP*/
#tooltip {
    position: relative;
    display: inline-block;
    margin-left: 12px;
    margin-right: 5px;
    margin-bottom: 7px;
  }
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  #tooltip #tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -19.5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  #tooltip:hover #tooltiptext {
    visibility: visible;
  }